doctype html
html(lang='en')
  head
    include header
  body
    if (success)
      .alert_bar.alert.alert-success
        .container
          button.close(type='button', data-dismiss='alert', aria-hidden='true') X
          p.alert_info= success
    if (error)
      .alert_bar.alert.alert-danger
        .container
          button.close(type='button', data-dismiss='alert', aria-hidden='true') X
          p.alert_info= error
    
    block content
    include footer
  